/********************** SEVEN-SECTION **********************/

/* Classe CSS de masquage accessible pour que les outils d'assistance des personnes en situation de handicap puissent lire le texte caché. Un "display : none" n'est PAS accessible et empêche l'utilisateur en situation de handicap d'avoir accès aux informations */

.seven-section {
    margin: auto;
    min-height: 50vh;
    }
    
    .seven-section-content {
    background-color: #0B042C;
    color: #fff;
    border: 2px solid #32b3e6;
    
    max-width: 100rem;
    padding: 5rem;
    margin: auto;
    }

    .seven-section-content p {
        margin: 2rem auto;
    }

    .seven-section-content form input {
        background-color: transparent;
        border-bottom: #32b3e6 1px solid !important;
        border: none;
    }

    .seven-section-content form input[type=submit] {
        border: 1px solid #fff !important;
        color: #fff;
        text-transform: uppercase;
    }

    