/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/********************** SEVEN-SECTION **********************/

/* Classe CSS de masquage accessible pour que les outils d'assistance des personnes en situation de handicap puissent lire le texte caché. Un "display : none" n'est PAS accessible et empêche l'utilisateur en situation de handicap d'avoir accès aux informations */

.seven-section {
    margin: auto;
    min-height: 50vh;
    }
    
    .seven-section-content {
    background-color: #000;
    color: #fff;
    border: 2px solid #32b3e6;

    margin: 10rem auto;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    overflow: hidden;
    }

    .seven-section-content p {
        margin: 2rem auto;
    }

    .seven-section-content form input {
        background-color: transparent;
        border-bottom: #32b3e6 1px solid !important;
        border: none;
    }

    .seven-section-content form {
        padding: 5rem;
    }

    .seven-section-content form input[type=submit] {
        border: 1px solid #fff !important;
        color: #fff;
        text-transform: uppercase;

    }

    .seven-section-content img {
        -webkit-clip-path: none;
                clip-path: none;

        position: relative;
        bottom: -5rem;

    }

    /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  
    #seventh .container {
        width: 100%;
    }

    .seven-section-content {
        
        -ms-grid-columns: 1fr;
        
        grid-template-columns: 1fr;
        }

        .seven-section-content form {
            padding: 1rem;
        }
    }
    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) { 
      
    }

    