/*****************************  HEADER **************************/
.main-header {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    color: #fff;
    height: 100vh;
    position: relative;
    list-style-type: none;
  
    scroll-behavior: smooth;
  }
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
  .main-header {
    flex-direction: column;
  }
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
  
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) { 
  
  }
  
  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) { 
  
  }
  
  .main-header * {
    padding-left: 0;
    text-decoration: none;
    color: inherit;
    position: relative;
  }
  
  .main-header details {
  display: inline-block;
  position: relative;
  top: 75%;
  left: 10%;
  cursor: zoom-in;
  }
  
  .main-header details summary {
  display: inline-block;
  }
  
  .main-header details .img-hero {
  width: 5rem;
  transition: all 1s;
  margin: auto;
  
  animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
  25% {transform: scale(1.4);}
  
  50% {transform: rotate(180deg);}
  }
  
  .main-header details .img-hero:hover {
  transform: scale(1.4);
  }
  
  .main-header details p {
  background-color: #000;
  color: #fff;
  padding: 5rem 10rem;
  width: 80rem;
  clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
  }
  
  .img-deco {
  /*  position: fixed; */
  z-index: -1;
  /* background-color: red; */
  
  /* height: 100vh; */
  /* transform: translateX(-125%); */
  
  position:fixed;
  bottom: -15rem;
  transform: translateX(100%);
  }
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
    .img-deco {
      display: none;
    }
    
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) { 
    .img-deco {
      transform: translateX(50%);
    }
    
  }
  
  .img-deco img {
  object-fit: cover;
  width: 50rem;
  text-align: center;
  }
  
  
  
  
  
  /************************** Navigation *************************/
  /* ********************************************************** */
  
  
  #navbar {
  /* overflow: hidden; */
  /* position: fixed; */
  width: 20rem;
  height: 80vh;
  
  text-align: center;
  z-index: 1000;
  
  position: fixed;
  top: 20%;
  
  right: 15%;
  transition: all 1.3s;
  
  font-size: 1.4rem;

  scroll-behavior: smooth;
  }
  
  .menu-item {
  display: block;
  position: relative;
  }
  
  .menu-item {
  /* border-radius: 50%; */
  
    margin: 3rem auto;
    /* background-color:rgba(11, 4, 44, .5); */
  }
  
  .menu-item:before {
  content: url('../img/moon-light.svg');
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0rem;
  left: 2rem;
  align-items: center;
  }
  
  .menu-item:nth-child(odd):before {
    animation: animation-moon 2s ease-in-out infinite alternate; 
  }
  
  .menu-item:nth-child(even):before {
    animation: animation-moon 3s linear infinite alternate; 
  }
  
  .menu-item:nth-child(1):before {
    animation: animation-moon 4.5s linear infinite alternate; 
  }
  
  .menu-item:nth-child(2):before {
    animation: animation-moon 1.5s linear infinite alternate; 
  }
  
  .menu-item:nth-child(3):before {
    animation: animation-moon 2s linear infinite alternate; 
  }
  
  .menu-item:nth-child(5):before {
    animation: animation-moon 2.5s linear infinite alternate; 
  }
  
  .menu-item:nth-child(6):before {
    animation: animation-moon 3.5s linear infinite alternate; 
  }
  
  @keyframes animation-moon {
    0% {
      transform: translatey(0px);  
    }
    50% {
      transform: translatey(10px);  
    }
    100% {
      transform: translatey(15px);  
    }
  }
  
  .menu-item:nth-of-type(odd) {
  right: 10rem;
  transition: all 1s;
  top: 2rem;
  }
  
  .menu-item:nth-of-type(even) {
  left: 8rem;
  transition: all 3s;
  top: 5rem;
  }
  
  .menu-item:nth-child(1) {
  right: 20rem;
  }
  
  .menu-item:nth-child(3) {
    right: 15rem;
    }

    .menu-item:nth-child(3):before {
      left: 1rem;
      }
  
  .menu-item:nth-child(4) {
  left: 20rem;
  bottom: 10rem;
  }
  
  .menu-item:nth-child(5) {
  right: 20rem;
  bottom: -5rem;
  }
  
  /*.menu-item:last-child {
  background-color: #5599A1;
  clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
  display:inline-block;
  margin: 1rem auto;
  padding: 1rem 3rem;
  transition: all 2s;
  bottom: -5rem;
  }*/
  
  /* .menu-item:last-child:hover {
  background-color: #fff;
  color: #0B042C;
  transition: all 2s;
  } */
  
  /* .menu-item:hover {
  text-decoration: underline;
  color: #70074d;
  background-color: #fff;
  padding: 1rem 2rem;
  clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
  transition: 0.5s ease;
  } */
  
  .menu-item:hover:before {
  content: url('../img/moon-light.svg');
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0rem;
  left: 2rem;
  align-items: center;
  
  filter: drop-shadow(0 2rem 1rem #04dbeb);
  transform-origin: 10vmin 1vmin;
  animation: rotate-moon 5s linear infinite;
  }
  
  @keyframes rotate-moon {
    /* from {
      transform: rotateZ(-90deg)
    } */
    to {
      transform: rotate(1turn)
    }
      /* 0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
      }
      50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
      }
      100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
      } */
  }
  
  .menu-item a:focus {
      background-color: #0B042C;
      color: #fff;
  }
  
  .menu-item a:visited {
  background-color: #fff;
  padding: 2rem;
  }
  
  .menu-item a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%,  #0B042C 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    text-decoration: none;
    transition: background-position 0.5s ease-out;
  }
  
  .menu-item a:hover {
    background-position: -99.99% 0;
    color: #fff;
    padding: 1rem;
  }
  
  
  /* Création d'une classe .sticky qui appelle la fonction du changement de position du menu au scroll */
  .sticky {
  position: fixed;
  top: 0 !important;
  right: 0 !important;
  
  margin: 0 auto;
  
  /* display: flex;
  justify-content: flex-end; */
  transition: all 1.3s;
  
  font-size: 1.4rem;
  
  clip-path: inherit;
  padding: 0rem !important;
  }
  
  .positionOff {
  width: 15rem;
  
  padding: .2rem 0 !important;
  clip-path: none;
  background-color: inherit;
  margin: 0;
  /* background-color : rgba(11, 4, 44, .8); */
  }
  
  
  
  .positionOff:before {
  content: url('../img/moon-light.svg');
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  left: -1rem;
  align-items: center;
  
  animation: none;
  }
  
  .positionOff:hover:before {
    content: url('../img/moon-dark.svg');
   
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.3rem;
    left: 1rem;
    align-items: center;
      }
  
      .positionOff:nth-child(even):before {
        animation: none; 
      }
  
      .positionOff:nth-child(odd):before {
        animation: none; 
      }
  
  .positionOff:nth-child(1) {
  right: 6rem !important;
  top: 0rem !important;
  }
  
  .positionOff:nth-child(2) {
  left: 0rem !important;
  top: 0rem !important;
  }

  .positionOff:nth-child(2):before {
    left: -1rem !important;
    
    }
  
  .positionOff:nth-child(3) {
  left: 3rem !important;
  top: 0rem !important;
  }

  .positionOff:nth-child(3):before {
    left: -1rem;
    }
  
  .positionOff:nth-child(4) {
  left: 2rem !important;
  top: 0rem !important;
  }
  
  .positionOff:nth-child(5) {
  left: 2rem !important;
  top: 0rem !important;
  }
  
  .positionOff:nth-child(6) {
  left: 0rem !important;
  top: 0rem !important;
  }
  
  .positionOff:last-child {
  left: 0rem !important;
  top: 0rem !important;
  }
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
    h1 {
      font-size: 2rem;
    }
    
    .menu-item:last-child {
      margin: 5rem auto;
    }
  
    .menu-item:nth-of-type(even) {
      left: -5rem;
    }
  
    .menu-item:last-child {
      margin: 2rem auto;
    }
  
    .menu-item:nth-child(4) {
      left: -5rem;
    }
  
    .menu-item:nth-child(5) {
      right: 5rem;
    }
  
    .menu-item:nth-child(1) {
      right: 10rem;
    }
  
    #navbar {
      width: 20rem;
      right: 0;
      top: 0;
  
      height: 0;
    }
  
    .sticky {
      left: 0;
    }
  
   
  
    
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) { 
    #navbar {
      right: 30%;
    }
  
    .menu-item:last-child {
      margin: 5rem auto;
    }
  
    .main-header details {
      left: 20%;
    }
  
    .menu-item:nth-child(5) {
      right: 5rem;
    }
  
    .menu-item:nth-child(1) {
      right: 10rem;
    }
  
    
  }
  
  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) { 
    .menu-item:last-child {
      margin: 2rem auto;
    }
  
  }