/***************************** SECOND-SECTION **********************/
.second-section {
    /* width: 80%; */
    position: relative;
    background: rgb(5, 5, 5);
    color: #fff;
    position: relative;

    filter: drop-shadow(-5mm 10mm 4mm rgb(5, 5, 5));
    }

    .second-section .img-deco-bg {
      position: absolute;
      top: -20%;
      left: 0%;
      border: none;

      width: 50rem !important;
      height: auto;
      clip-path: none;
    }
    
    .second-section-content-element {
    /* margin: 30rem auto; */
    max-width: max-content;
    }
    
    .second-section-content-element:nth-child(1) {
    position: relative;
    /* right: 5%; */
    }
    
    .second-section-content-element:nth-child(2) {
    position: relative;
    /* left: 40%; */
    }
    
    .second-section-content-element-col {
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    
    display: flex;
    flex-direction: row;
    
    position: relative;
    align-items: start;
    margin: 20rem auto;
    z-index: 1000;

    justify-content: space-around;
    }
    
    .second-section-content-element-col-reverse:first-child {
      flex-direction: row-reverse;
    }
    
    .second-section-content-element-col-child-text {
    color: #fff;
    padding: 2rem;
    width: 50%;
    position: relative;
    display: block;
    }
    
    .second-section-content-element-col-child {
    position: relative;
    margin: 0 2rem;
    }

    .second-section-content-element-col-child h3 {
      font-size: 3.2rem;
      text-align: center;
    }
    
    .second-section-content-element-col-child img {
    clip-path: inherit;
    width: 30rem;
    /* position: absolute;
    top: 0; */
    /* padding: 2rem; */
    
    position: relative;
    animation: gravity 10s linear alternate-reverse infinite;
    display: block;
    /* transform: translateY(40px); */
    }

    @keyframes gravity {
      /*  to{
         transform:translateY(50px);
       }  */
       0% {
         box-shadow: 0 5px 30px 5px rgba(27, 136, 238, 0.6);
         transform: translatey(0px);
         rotate: 5deg;
       }
       50% {
         box-shadow: 0 25px 40px 5px rgba(27, 224, 238, 0.6);
         transform: translatey(-20px);
       }
       100% {
         box-shadow: 0 5px 30px 5px rgba(27, 83, 238, 0.6);
         transform: translatey(0px);
         rotate: -5deg;
       }
     }

     .documentary {
      animation: reverseGravity 15s linear alternate-reverse infinite !important;
     }

     @keyframes reverseGravity {
      /*  to{
         transform:translateY(50px);
       }  */
       0% {
         box-shadow: 0 5px 30px 5px rgba(27, 136, 238, 0.6);
         transform: translatey(0px);
         rotate: -5deg;
       }
       50% {
         box-shadow: 0 25px 40px 5px rgba(27, 224, 238, 0.6);
         transform: translatey(-20px);
       }
       100% {
         box-shadow: 0 5px 30px 5px rgba(27, 83, 238, 0.6);
         transform: translatey(0px);
         rotate: 5deg;
       }
     }

     .second-section-content-element-col-child-item {
       font-weight: bold;
       margin-top: 2rem;
     }
    
    .second-section-content-element-col-child-btn a {
    background-color: #0B042C;
    color: #fff;
    padding: 1.5rem 3rem;
    margin: 2rem auto;
    width: max-content;
    
    display: block;
    
    text-align: center;
    clip-path: polygon(10% 15%, 12% 15%, 12% 5%, 88% 5%, 88% 15%, 90% 15%, 90% 85%, 88% 85%, 88% 95%, 12% 95%, 12% 85%, 10% 85%);
    /* transition: transform 1s; */
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    
    font-size: 1.4rem;

    text-decoration: none;
    }
    
    .second-section-content-element-col-child-btn {
    filter: drop-shadow(.2rem .2rem .5rem rgb(27, 223, 213));
    margin: 3rem auto;
    transition: transform 1s;
    }
    
    .second-section-content-element-col-child-btn:hover {
      transform: scale(1.1);
      filter: inherit;
    }
    
    .second-section-content-element-col-child-btn a:hover {
    /* transform: scale(1.1); */
    /* background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7); */
    background-image: linear-gradient(to right, #667eea, #1bd2df, #6B8DD6, #1bdfd5);
    transition: all .4s ease-in-out;
    background-position: 100% 0;
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    }
    
    
    
    
    
    
    
    /* A Rechercher : Inverser le sens de l'élément avec les grid */
    .second-section-content-element:nth-child(2) {
      order: 1;
    }
    
    .second-section-content-element-col:nth-child(2) {
    
    }
    
   
    
    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) { 
      .second-section-content-element-col {
        /* grid-template-columns: 1fr; */
        flex-direction: column;
      }
    
      .second-section-content-element:nth-child(1) {
        position: relative;
        right: 0;
        }
        
        .second-section-content-element:nth-child(2) {
        position: relative;
        left: 0;
        }
    
      .second-section-content-element-col-child {
        margin: 0 auto;
      }
    
      .second-section-content-element-col-child-text {
        width: 80%;
      }
    
      .second-section-content-element-col-child {
        margin: 5rem auto;
      }
    
      .second-section-content-element-col-reverse:first-child {
        flex-direction: column;
      }
    
      .second-section-content-element iframe {
        top: 70%;
        right: 20rem;
      }

      .second-section .img-deco-bg {
        top: -10%;
        width: 30rem !important;
      }
      
      }
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
      #second .container {
        width: 100%;
      }
      
      .second-section .img-deco-bg {
        top: -5%;
        left: -10%;
      }
    }

     /* Extra small devices (portrait phones, less than 576px) */
     @media (max-width: 575.98px) { 
      
    }
    