/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/****************************** FIRST-SECTION **********************/
.first-section {
    position: relative;
    /* background-color: #fff; */
    background-color: rgb(5, 5, 5);

    -webkit-filter: drop-shadow(-5mm -10mm 4mm rgb(5, 5, 5));

            filter: drop-shadow(-5mm -10mm 4mm rgb(5, 5, 5));
    }

    
    .first-section-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-top: 4rem;
    }

    .first-section-content-element {
    /*   margin: 10rem auto; */
    }

    .first-section-content-element:first-child .first-section-content-element-text {
      text-align: end;
    }

    .first-section-content-element:first-child .first-section-content-element-text h3 {
      text-align: end;
    }
    
    .first-section-content-element:first-child {
      /* display: grid;
      grid-template-columns: repeat(2,1fr); */
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
    
     /*  margin: 8rem auto; */
      height: 70rem;
    }

    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) { 
      
    }
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
      
    }
    
    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) { 
      
    }

    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) { 
      .first-section-content-element:first-child {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
      }
    
    }
    
    .first-section-content-element-text {
      /* position: absolute; */
  
      margin: 4rem auto;
    }
    
    .first-section-content-element h3 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    
    
    .first-section-content-element-text img {
      -ms-flex-line-pack: center;
          align-content: center;
    }
    
    .first-section-content-element-img {
      content: '';
      /* background: url('img/installation/dessin-instal.jpg'); */
      position: absolute;
      width: 45rem;
      height: 45rem;
      background: #111845a6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      overflow: hidden;
      -webkit-box-shadow: 0 20px 50px rgb(23, 32, 90);
              box-shadow: 0 20px 50px rgb(23, 32, 90);
      border: 2px solid #2a3cad;
      padding: 3rem;
    
      -webkit-transform: translateX(-50%) !important;
    
          -ms-transform: translateX(-50%) !important;
    
              transform: translateX(-50%) !important;
      left: 50%;
      }
    
      .first-section-content-element-img img {
        -webkit-clip-path: none;
                clip-path: none;
      }
    
      .first-section-content-element-img:before {
      /*   content: '';
      position:absolute;
      top:0;
      left:-100%;
      width:100%;
      height:100%;
      background: rgba(255,255,255,0.1);
      transition:0.5s;
      pointer-events: none; */
      }
    
      .first-section-content-element-img:hover:before {
        left:-50%;
      -webkit-transform: skewX(-5deg);
          -ms-transform: skewX(-5deg);
              transform: skewX(-5deg);
      }
    
      .first-section-content-element-img span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
    
      .first-section-content-element:first-child span:nth-child(1)
    {
      -webkit-transform:rotate(0deg);
          -ms-transform:rotate(0deg);
              transform:rotate(0deg);
    }
    
    .first-section-content-element:first-child span:nth-child(2)
    {
      -webkit-transform:rotate(90deg);
          -ms-transform:rotate(90deg);
              transform:rotate(90deg);
    }
    
    .first-section-content-element:first-child span:nth-child(3)
    {
      -webkit-transform:rotate(180deg);
          -ms-transform:rotate(180deg);
              transform:rotate(180deg);
    }
    
    .first-section-content-element:first-child span:nth-child(4)
    {
      -webkit-transform:rotate(270deg);
          -ms-transform:rotate(270deg);
              transform:rotate(270deg);
    }
    
    .first-section-content-element:first-child span:before
    {
      content: '';
      position: absolute;
      width:100%;
      height: 2px;
      background: #50dfdb;
      -webkit-animation: animate 4s linear infinite;
              animation: animate 4s linear infinite;
    }
    
    @-webkit-keyframes animate {
      0% {
      -webkit-transform:scaleX(0);
              transform:scaleX(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      }
      50%
      {
        -webkit-transform:scaleX(1);
                transform:scaleX(1);
      -webkit-transform-origin: left;
              transform-origin: left;
      }
      50.1%
      {
        -webkit-transform:scaleX(1);
                transform:scaleX(1);
      -webkit-transform-origin: right;
              transform-origin: right;
        
      }
      
      100%
      {
        -webkit-transform:scaleX(0);
                transform:scaleX(0);
      -webkit-transform-origin: right;
              transform-origin: right;
        
      }
      
      
    }
    
    @keyframes animate {
      0% {
      -webkit-transform:scaleX(0);
              transform:scaleX(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      }
      50%
      {
        -webkit-transform:scaleX(1);
                transform:scaleX(1);
      -webkit-transform-origin: left;
              transform-origin: left;
      }
      50.1%
      {
        -webkit-transform:scaleX(1);
                transform:scaleX(1);
      -webkit-transform-origin: right;
              transform-origin: right;
        
      }
      
      100%
      {
        -webkit-transform:scaleX(0);
                transform:scaleX(0);
      -webkit-transform-origin: right;
              transform-origin: right;
        
      }
      
      
    } 
    
    /* .first-section-content-element:not(:first-child) img {
    width: 15rem;
    padding: 1rem;
    } */
    
    
    .first-section .h2-subtitle {
      color: #fff;
    }
    
    .first-section-content-element-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10rem auto;
    }
    .first-section-content-element-items img {
      width: 20rem;
      height: 20rem;
    }
    
    .first-section-content-element:last-child {
    /* background-color: rgba(255, 255, 255, .2); */
    color: #fff;
    padding: 2rem;
    width: 80%;
    margin: 5rem auto;

    z-index: 1;
    position: relative;
    }
    
    .first-section-content-element blockquote {
    font-style: italic;
    font-size: 1.8rem;
    }
    
    .first-section-content-element blockquote:before {
    content: url("../img/installation/quote-icon-l.svg");
    position: relative;
    display: inline-block;
    width: 5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    fill: #fff;
    }
    
    .first-section-content-element .blockquote-author {
    text-align: right;
    font-weight: bold;
    margin: 2rem 0;
    }

    .first-section .title {
      font-weight: bolder;
    }
    
    
    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) { 
      
    }
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
      
    }
    
    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) { 
      .h2-subtitle {
        width: 60%;
      }
    
      .first-section-content-element:first-child {
        height: 60rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
    
      .first-section-content-element-img,
      .first-section-content-element-text {
        position: relative;

        margin: 2rem auto;
      }
    
      .first-section-content-element-text::before {
        margin: 0 -5rem;
      }
    
      .first-section-content-element-items img {
        width: 15rem;
        height: 15rem;
        padding: 1rem;
        -o-object-fit: contain;
           object-fit: contain;
      }
    
      .first-section-content-element:last-child {
        width: 100%;
      }
      
    }
    
    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) { 
      
    
    }