/****************************** FIRST-SECTION **********************/
.first-section {
    position: relative;
    /* background-color: #fff; */
    background-color: #000;
    }

    .first-section-content-element {
      margin: 20rem auto;
    }
    
    .first-section-content-element:first-child {
      /* display: grid;
      grid-template-columns: repeat(2,1fr); */
      flex-direction: row-reverse;
      align-items: center;
      position: relative;
    
      margin: 10rem 0;
      height: 40rem;
    }

    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) { 
      
    }
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
      
    }
    
    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) { 
      
    }

    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) { 
      .first-section-content-element:first-child {
        grid-template-columns: 1fr;
      }
    
    }
    
    .first-section-content-element-text {
      /* position: absolute; */
    
      left: 0%;
      margin: 2rem auto;
    }
    
   
    
    .main-header details {
      content: '';
      height: 10rem;
      position: absolute;
    
      animation: bodyLine 30s ease-in-out infinite;
    }

    .first-section-content-element h3 {
      margin: 2rem 0;
    }
    
    @keyframes bodyLine {
      0% {top: 0rem;}
      100% {top: 100%;}
    }
    
    .first-section-content-element-text img {
      align-content: center;
    }
    
    .first-section-content-element-img {
      content: '';
      /* background: url('img/installation/dessin-instal.jpg'); */
      position: absolute;
      width: 40rem;
      height: 40rem;
      background: #111845a6;
      box-sizing: border-box;
      overflow: hidden;
      box-shadow: 0 20px 50px rgb(23, 32, 90);
      border: 2px solid #2a3cad;
      padding: 3rem;
    
      transform: translateX(-50%);
      left: 50%;
      }
    
      .first-section-content-element-img img {
        clip-path: none;
      }
    
      .first-section-content-element-img:before {
      /*   content: '';
      position:absolute;
      top:0;
      left:-100%;
      width:100%;
      height:100%;
      background: rgba(255,255,255,0.1);
      transition:0.5s;
      pointer-events: none; */
      }
    
      .first-section-content-element-img:hover:before {
        left:-50%;
      transform: skewX(-5deg);
      }
    
      .first-section-content-element-img span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
      }
    
      .first-section-content-element:first-child span:nth-child(1)
    {
      transform:rotate(0deg);
    }
    
    .first-section-content-element:first-child span:nth-child(2)
    {
      transform:rotate(90deg);
    }
    
    .first-section-content-element:first-child span:nth-child(3)
    {
      transform:rotate(180deg);
    }
    
    .first-section-content-element:first-child span:nth-child(4)
    {
      transform:rotate(270deg);
    }
    
    .first-section-content-element:first-child span:before
    {
      content: '';
      position: absolute;
      width:100%;
      height: 2px;
      background: #50dfdb;
      animation: animate 4s linear infinite;
    }
    
    @keyframes animate {
      0% {
      transform:scaleX(0);
      transform-origin: left;
      }
      50%
      {
        transform:scaleX(1);
      transform-origin: left;
      }
      50.1%
      {
        transform:scaleX(1);
      transform-origin: right;
        
      }
      
      100%
      {
        transform:scaleX(0);
      transform-origin: right;
        
      }
      
      
    } 
    
    /* .first-section-content-element:not(:first-child) img {
    width: 15rem;
    padding: 1rem;
    } */
    
    
    .first-section .h2-subtitle {
      color: #fff;
    }
    
    .first-section h3 {
    /* background-color: rgba(255, 255, 255, .6); */
    width: max-content;
    /* padding: 2rem; */
    }
    
    .first-section-content-element-items {
    display: flex;
    flex-wrap: wrap;
    margin: 10rem auto;
    }
    .first-section-content-element-items img {
      width: 20rem;
      height: 20rem;
    }
    
    .first-section-content-element:last-child {
    /* background-color: rgba(255, 255, 255, .2); */
    color: #fff;
    padding: 2rem;
    width: 80%;
    margin: 5rem auto;

    z-index: 1;
    position: relative;
    }
    
    .first-section-content-element blockquote {
    font-style: italic;
    font-size: 1.8rem;
    }
    
    .first-section-content-element blockquote:before {
    content: url("../img/installation/quote-icon-l.svg");
    position: relative;
    display: inline-block;
    width: 5rem;
    align-self: center;
    fill: #fff;
    }
    
    .first-section-content-element .blockquote-author {
    text-align: right;
    font-weight: bold;
    margin: 2rem 0;
    }

    .first-section .title {
      font-weight: bolder;
    }
    
    
    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) { 
      
    }
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
      
    }
    
    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) { 
      .h2-subtitle {
        width: 60%;
      }
    
      .first-section-content-element:first-child {
        height: 60rem;
        flex-direction: column;
      }
    
      .first-section-content-element-img,
      .first-section-content-element-text {
        position: relative;

        margin: 2rem auto;
      }
    
      .first-section-content-element-text::before {
        margin: 0 -5rem;
      }
    
      .first-section-content-element-items img {
        width: 15rem;
        height: 15rem;
        padding: 1rem;
        object-fit: contain;
      }
    
      .first-section-content-element:last-child {
        width: 100%;
      }
      
    }
    
    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) { 
      
    
    }