/**************************** FOUR-SECTION **************************/
.four-section-content {
    position: relative;
  }
  
  .four-section-content-element {
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr) );
    justify-content: center;
    margin: 2rem;
  }
  
  
  .four-section-content-element-card {
  width: 30rem;
  height: 40rem;
  perspective: 100vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  position: relative;
  font-size:1.8rem;
  
  justify-self: center;

  padding: 5rem;
  margin: 2rem;
  }

  .four-section-content-element-card:hover {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  }

  @keyframes shake {
    0% { transform: rotate(0); }
    20% { transform: rotate(1deg); }
    80% { transform: rotate(-1deg); }

    100% { transform: rotate(0); }
  }
  
  .four-section-content-element-card .face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), box-shadow 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), border-width 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98);
  box-shadow: 0px 1.2vw 4vw -1vw rgba(0, 0, 0, 0.6);
  background-position: 0 0;
  background-size: 21vw;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 1.1vw; */
  
  padding: 5rem;
  align-items: center;  
  }
  .four-section-content-element-card .front {
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/22/King_of_spades2.svg"); */
  transform: rotateX(0deg);
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
    display: grid;
  grid-template-rows: repeat(4,1fr);
  text-align: center;
  justify-content: start;
  align-items: center;

  overflow: hidden;

  /* background-position: center;
    object-fit: contain;
    width: 100%; */

  }

  .four-section-content-element-card .front:before {
    object-fit: contain;
    top: 50%;
    right: 0;
    display: block;
  }

  .four-section-content-element-card:nth-child(1) .front:before {
    content: url('../img/astro/astronom-light.jpg'); 
    position:absolute;
    /* top:50%;
    right:0%; */
    z-index:-1;
  }

  .four-section-content-element-card:nth-child(2) .front:before {
    content: url('../img/astro/planets-game.jpg');
    position:absolute;
   /*  top:50%;
    left:0; */
    z-index:-1;
  }

  .four-section-content-element-card:nth-child(3) .front:before {
    content: url('../img/astro/extra-music.jpg');
    position:absolute;
   /*  top:50%;
    right:20%; */
    z-index:-1;
  }


  .four-section-content-element-card .back {
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Card_back_01.svg"); */
  transform: rotateX(180deg);
  background-color: #0B042C;
  color: #fff;
  font-weight: 600;

  overflow-y: auto;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: start !important;
  
  }
  .four-section-content-element-card .back p {
    position: relative;
  }
  .four-section-content-element-card .back img {
  width: 5rem;
  object-fit: contain;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

  .four-section-content-element-card:hover .front, .four-section-content-element-card.hover .front {
  transform: rotateX(20deg);
  box-shadow: 0px 10vw 9vw -6vw rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  }
  .four-section-content-element-card:hover .back, .four-section-content-element-card.hover .back {
  transform: rotateX(200deg);
  box-shadow: 0px -2vw 4vw -2vw rgba(35, 2, 2, 0.68), inset 0px -8vw 12vw -5vw rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(5, 5, 5, 0.8);
  
  justify-content: start;
  }
  .four-section-content-element-card.flipped .front {
  transform: rotateX(180deg);
  }
  .four-section-content-element-card.flipped .back {
  transform: rotateX(360deg);
  overflow: scroll;
  }
  .four-section-content-element-card.flipped:hover .front, .four-section-content-element-card.flipped.hover .front {
  transform: rotateX(200deg);
  }
  .four-section-content-element-card.flipped:hover .back, .four-section-content-element-card.flipped.hover .back {
  transform: rotateX(360deg);
  }
  
  .four-section-content-element-card .front-title {
    border: 1px solid #fff;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .four-section-content-element-card button {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
   
    color: #32b3e6;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
  
    margin-bottom: 5rem;
  }
  .four-section-content-element-card button::before, button::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #podcast {
    display: flex;
    flex-direction: column;
  }

  #podcast span {
    margin-top: 2rem;
  }

  .four-section-content-element-card audio {
    margin: 2rem auto;
    border-bottom: 1px solid #fff;
  }
  
  
  
    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) { 
      
    }

   /* Medium devices (tablets, less than 992px) */
   @media (max-width: 991.98px) { 
    .four-section-content-element iframe {
      width: 200px;
      height: 200px;
    }

    .four-section-content-element {
      grid-template-columns: 1fr;
    }

    .four-section-content-element-card {

      margin: 2rem auto;
    }

    .four-section-content iframe {
      top: 45rem;
    }

    .four-section-content-element-card {
      
      padding: 0rem;
     
      }

  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
    
  }

  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    
  }
  
 