/**************************** FOUR-SECTION **************************/
.four-section-content {
    position: relative;
  }
  
  .four-section-content iframe img {
    width: 20rem;
    height: auto;
  }
  
  .four-section-content iframe {
    border: none;
    position: absolute;
    left: -20%;
    top: 10rem;
  
    width:300px; 
    height:300px;
  
    display: block;
  }
  
  .four-section-content iframe #sound .cls-1{
    animation: bounce 2s linear infinite;
  }
  
  @keyframes bounce {
      0%,
      25%,
      50%,
      75%,
      100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
      }
      40% {
          -webkit-transform: translateY(-20px);
                  transform: translateY(-20px);
      }
      60% {
          -webkit-transform: translateY(-12px);
                  transform: translateY(-12px);
      }
  }
  
  .four-section-content-element {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  
  
  .four-section-content-element-card {
  width: 20vw;
  height: 20vw;
  perspective: 100vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  position: relative;
  
  justify-self: center;
  }
  
  .four-section-content-element-card .face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), box-shadow 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), border-width 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98);
  box-shadow: 0px 1.2vw 4vw -1vw rgba(0, 0, 0, 0.6);
  background-position: 0 0;
  background-size: 21vw;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 1.1vw; */
  
  padding: 2rem;
  align-items: center;
  }
  .four-section-content-element-card .front {
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/22/King_of_spades2.svg"); */
  transform: rotateX(0deg);
  background-color: #000;
  color: #fff;
  
  display: grid;
  grid-template-rows: repeat(2,1fr);
  text-align: center;
  justify-content: center;
  }
  .four-section-content-element-card .back {
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Card_back_01.svg"); */
  transform: rotateX(180deg);
  background-color: #0B042C;
  color: #fff;
  }
  .four-section-content-element-card:hover .front, .four-section-content-element-card.hover .front {
  transform: rotateX(20deg);
  box-shadow: 0px 10vw 9vw -6vw rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  }
  .four-section-content-element-card:hover .back, .four-section-content-element-card.hover .back {
  transform: rotateX(200deg);
  box-shadow: 0px -2vw 4vw -2vw rgba(35, 2, 2, 0.68), inset 0px -8vw 12vw -5vw rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(5, 5, 5, 0.8);
  
  justify-content: center;
  }
  .four-section-content-element-card.flipped .front {
  transform: rotateX(180deg);
  }
  .four-section-content-element-card.flipped .back {
  transform: rotateX(360deg);
  }
  .four-section-content-element-card.flipped:hover .front, .four-section-content-element-card.flipped.hover .front {
  transform: rotateX(200deg);
  }
  .four-section-content-element-card.flipped:hover .back, .four-section-content-element-card.flipped.hover .back {
  transform: rotateX(340deg);
  }
  
  .four-section-content-element-card .front-title {
    border: 1px solid #fff;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
    
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) { 
      .four-section-content-element iframe {
        width: 200px;
        height: 200px;
      }
  
      .four-section-content-element {
        grid-template-columns: repeat(2,1fr);
      }
  
      .four-section-content-element-card {
        width: 30vw;
        height: 30vw;
        margin: 2rem auto;
      }
  
      .four-section-content iframe {
        top: 45rem;
      }
  
    }
  
    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) { 
      
    }