html {
  scroll-behavior: smooth;
  
}

body {
  font-family: 'Lato','Nunito Sans', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  flex-wrap: wrap;
  word-wrap: wrap;
  text-overflow: ellipsis;
  color: #0B042C;
  position: relative;

  line-height: 1.6;
  letter-spacing: .8px;

  max-width:100vw;
  overflow-x: hidden;

  background: url("../img/universe.jpg") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 70%;
  margin: auto;
}
  
main {
  position: relative;
  }

main img {
  /* clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%); */
  clip-path: polygon(10% 15%, 13% 15%, 13% 5%, 87% 5%, 87% 15%, 90% 15%, 90% 85%, 87% 85%, 87% 95%, 13% 95%, 13% 85%, 10% 85%);
  object-fit: cover;
  margin: auto;
  width: 100%;
  }

#home,
.change-color {
  min-height: 100vh;
}

h1 {
/* font-size: 12rem; */
left: 0;
top: 0;
position: fixed;
z-index: 1;
padding: 1rem;
transition: 0.5s;

writing-mode: sideways-lr;
}

h1 a:hover {
color: #5599A1;
}

h2,
h4 {
  text-align: center;
  margin: 3rem auto;

  font-weight: 400;
}

h2 {
  font-size: 3.2rem;
  font-weight: lighter;

  padding: 2rem 5rem;
  margin: 2rem auto;
  color: #fff;
  max-width: max-content;
  height: auto;
  overflow-x: hidden;

  position: relative;

}

h2 button {
  background: none;
  border: 0;
  box-sizing: border-box;
  /* margin: 1em; */
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #32b3e6;
  color: #32b3e6;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;

  
}
h2 button::before, h2 button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
} 

.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #32b3e6;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #32b3e6;
  border-right-color: #32b3e6;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #32b3e6;
  border-left-color: #32b3e6;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet:hover {
  color: #32b3e6;
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: #32b3e6;
  border-right-color: #32b3e6;
}
.meet:hover::after {
  border-bottom-color: #21c594;
  border-left-color: #21c594;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

.gradient {
  background: linear-gradient(to left, rgb(43, 84, 145) 0%, rgb(51, 120, 148) 6%, rgb(69, 140, 158) 12%, rgb(89, 108, 170) 16%, hsl(225.27, 41.65%, 52.36%) 21%, hsl(214.87, 52.51%, 53.16%) 25%, hsl(208.21, 63.34%, 53.45%) 29%, hsl(203.76, 73.19%, 53.1%) 34%, hsl(200.69, 81.16%, 51.99%) 39%, hsl(198.53, 86.55%, 50.02%) 44%,
  hsl(197, 100%, 47.06%) 50%, 
  hsl(200.62, 85.22%, 54.34%) 54%, hsl(206.51, 76.97%, 60.29%) 59%, hsl(217.16, 63.43%, 65.02%) 64%, hsl(240.81, 44.76%, 68.43%) 69%, rgb(122, 192, 197) 73%, rgb(102, 189, 170) 78%, rgb(80, 178, 208) 83%, rgb(55, 222, 222) 88%, rgb(29, 191, 232) 95%, rgb(90, 0, 235) 100%);
    background-size: 600% 600%;
    -webkit-animation: Gradient 18s ease infinite;
    -moz-animation: Gradient 18s ease infinite;
    animation: Gradient 18s ease infinite;
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 400;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.h2-subtitle {
/* background-color: rgba(220, 204, 181, .8); */
padding: 1rem;

margin: 2rem auto;
width: 50%;
color: #fff;

text-align: justify;

width: 50rem;

position: relative;

line-height: 1.6;
/* letter-spacing: .8px; */

text-transform: uppercase;
}
    
    .h2-subtitle:before {
      content: '';
      border-left: 1px solid #fff;
      height: 10rem;
      position: absolute;
      margin: 0 -2rem;
      top: 0;
      animation: line 20s linear infinite;
    }

    .h2-subtitle:after {
      content: '';
      border-right: 1px solid #fff;
      height: 10rem;
      position: absolute;
      
      right: 0;
      top: 0;
    
      animation: line 10s linear infinite;
    }
    
    @keyframes line {
      0% {top: 0%;}
      50% {top: 75%;}
      100% {top: 0%;}
    }

.h2-subtitle:after {
  content: '';
  display: block;
  margin: 2rem auto;
  /* border: 1px solid #fff; */
  width: fit-content
}

h3 {
font-size: 2.4rem;
text-transform: uppercase;
margin-bottom: 2rem;
color: #0858a3;
}

.h3-subtitle {
  /* background-color: #0B042C; */
  color: #fff;
  /* margin: -5rem auto; */
}

h4 {
font-size: 1.4rem;
}

h5 {
font-size: 1.6rem;
}

article {
padding-top: 10rem;
padding-bottom: 10rem;
}

.gradient-text {
  /* background: -webkit-linear-gradient(-70deg,#32b3e6,#21c594);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none; */
  color: #32b3e6;
}

/***************************** Scroll ****************************/

.scrolltop-wrap {
box-sizing: border-box;
position: absolute;
top: 12rem;
right: 2rem;
bottom: 0;
pointer-events: none;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
animation: animation-moon 2s linear alternate infinite;
/* filter: drop-shadow(0 .2rem .1rem #fff); */
}

/* @supports (-moz-appearance: meterbar) {
.scrolltop-wrap {
  clip: rect(0, 3rem, auto, 0);
} 
} */
.scrolltop-wrap a {
position: fixed;
position: -webkit-sticky;
position: sticky;
top: -35%;
width: 10rem;
height: auto;
margin-bottom: -5rem;
-webkit-transform: translateY(100vh);
        transform: translateY(100vh);
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
display: inline-block;
text-decoration: none;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
pointer-events: all;
outline: none;
overflow: hidden;

transition: all 2s;
}

.scrolltop-wrap a p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  filter: inherit;
  color: rgba(255, 255, 255, .5);
}

.scrolltop-wrap a img {
display: block;
border-radius: 50%;
width: 100%;
height: 100%;
}
.scrolltop-wrap a img {
-webkit-transition: all 0.1s;
transition: all 0.1s;
}
.scrolltop-wrap a #scrolltop-arrow {
-webkit-transform: scale(0.66);
        transform: scale(0.66);
-webkit-transform-origin: center;
        transform-origin: center;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
    .scrolltop-wrap a {
      
      top: -20%;
      width: 5rem;
      height: auto;
      
      }

      h2 {
        font-size: 2rem;
      }
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) { 
  
  }
  
  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) { 
  
  }


/********************** FOOTER **********************/

footer {
background-color: rgba(11, 4, 44, .6);
min-height: max-content;
}

.footer-content {
margin: inherit;
padding: 3rem;
}

.footer-content-element {
display: grid;
grid-template-columns:  repeat(3, 1fr);
justify-items: center;
}

.footer-content-element-item {
display: flex;
align-items: center;
width: 50rem;
color: #fff;
}

.footer-content-element-item a {
  text-transform: #fff;
  text-decoration: none;
  color:#32b3e6;
}

.footer-content-element-item .fa {
  margin: 0 2rem;
}

.footer-content-element-item li:last-child a {
  text-decoration: underline;
}

.footer-content-element-item img {
width: 10rem;
height: auto;
margin: 0 2rem;
text-align: center;
}

.footer-content-element-item ul {
  list-style-type: none;
  padding-left: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .footer-content-element {
    grid-template-columns: 1fr;
  }

  .footer-content-element-item{
    margin: 2rem auto;

    display: flex;
  }
  
  }

  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) { 
    
  }





