body {
    font-family: 'Lato','Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    flex-wrap: wrap;
    word-wrap: wrap;
    text-overflow: ellipsis;
    color: #0B042C;
}

.container {
    width: 80%;
    margin: auto;
}

#home {
    background: midnightblue;
   
}

#home h1 {
   
}

h2,
.h2-subtitle,
h3,
h4 {
    text-align: center;
}

h3 {

}

h4 {

}

h5 {

}




/*  HEADER */
.main-header {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.main-header * {
    list-style-type: none;
    padding-left: 0;
    text-decoration: none;
    color: inherit;
}

/* FIRST-SECTION */


/* SECOND-SECTION */
.second-section-content-element-col {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* Recherche : Inverser le sens de l'élément avec les grid */
.second-section-content-element:nth-child(2) {
    background: red;
}

/* THIRD-SECTION */
.third-section-content-element {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* FOUR-SECTION */
.four-section-content-element {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

/* FIFTH-SECTION */


/* SIXTH-SECTION */
.sixth-section-content-element {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* SEVEN-SECTION */


/* EIGHT-SECTION */


/* FOOTER */








