html, body {
    height: 100%;
}

body {
    font-family: 'Lato','Nunito Sans', sans-serif;
}

#home {
    background: midnightblue;
    width: 100%;
    height: 100%;
}

#home h1 {
    margin: 0;
    padding: 0;
}







