/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/********************** EIGHT-SECTION **********************/
.eight-section {
    min-height: 50vh;
    }
    
    
    .eight-section-content-element {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr) );
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    margin: auto;
    gap: 5rem;
    }
    
    .eight-section-content-element a {
    -webkit-clip-path: inherit;
            clip-path: inherit;
    width: 15rem;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    position: relative;
    -webkit-animation: float 5s linear infinite;
            animation: float 5s linear infinite;
    }

    .eight-section-content-element img {
      -webkit-clip-path: none;
              clip-path: none;
      width: 15rem;
    }
    
    .eight-section-content-element a:nth-child(odd) {
      -webkit-animation: float 10s linear infinite;
              animation: float 10s linear infinite;
    }
    
    @-webkit-keyframes float {
      0% {top: 0rem;}
      25% {top: 3rem;}
      50% {top: 3rem;}
      75% {top:0rem}
      100% {top: 0rem;}
    }
    
    @keyframes float {
      0% {top: 0rem;}
      25% {top: 3rem;}
      50% {top: 3rem;}
      75% {top:0rem}
      100% {top: 0rem;}
    }
    
    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) { 
      
    }
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
      
    }
    
    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) { 
      .eight-section-content-element img {
       
    
      }
      }
    
      /* Large devices (desktops, less than 1200px) */
      @media (max-width: 1199.98px) { 
        
      }