/*************************** FIFTH-SECTION *************************/

/* .fifth-section:before {
content: "img/corot-satellite.jpg";
position: absolute;
background: url("");
} */

.fifth-section-content {
    margin: auto;
    overflow-x: scroll;
    }
    
    .fifth-section-content .padlet-embed html[data-layout="free"] #wall-container .surface-header, html[data-layout="shelf"] #wall-container .surface-header {
      display: none !important;
    }
    
    .fifth-section-content .padlet-embed .iframe {
      zoom: 0.75;
    }
    
    .fifth-section-content .padlet-embed {
    border:1px solid rgba(0,0,0,0.1);
    border-radius:2px;
    box-sizing:border-box;
    overflow:hidden;
    position:relative;
    width:100%;
    background: rgb(172, 172, 212);

     
  object-fit: cover;
  text-align: center;
  vertical-align: middle;
      clip-path: inherit;
  
  background-image: url("../img/wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
    }
    
    .fifth-section-content .padlet-embed p {
    padding:0;margin:0
    }
    
    .fifth-section-content .padlet-embed iframe {
    width:100%;
    height:608px;
    display:block;
    padding:0;
    margin:0"
    }
    
    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) { 
      
    }
    
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
      
    }
    
    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) { 
      
      
      }
    
      /* Large devices (desktops, less than 1200px) */
      @media (max-width: 1199.98px) { 
        
      }
    