/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.button {
  /* background: #128197; */
  font: inherit;
  border: 0;
  color: #fff;
  border-radius: .5em;
  cursor: pointer;
  padding: .25em .5em;
  display: inline-block;

}



/* --------------- styles for modal -----------------------*/

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.hidden { display: none; }


/* needed for old browsers */
dialog {
  display: block;
  border: 0;
}
/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}
/* overlay covers everything */
.simple-modal-overlay,
.simple-animated-modal-overlay,
.simple-animatedtransform-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #0B042C;
  opacity: .8;
  z-index: 666;
  cursor: pointer;
}
.simple-modal-overlay[data-background-click="disabled"],
.simple-animated-modal-overlay[data-background-click="disabled"],
.simple-animatedtransform-modal-overlay[data-background-click="disabled"],
.simple-left-modal-overlay[data-background-click="disabled"] {
  cursor: auto;
}
.simple-animated-modal-overlay,
.simple-animatedtransform-modal-overlay {
  -webkit-animation: fadewhite ease .5s 1 normal ;
          animation: fadewhite ease .5s 1 normal ;
}

@-webkit-keyframes fadewhite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

@keyframes fadewhite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}
/* modal */
.simple-modal,
.simple-animated-modal,
.simple-animatedtransform-modal {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  top: 5vh;
  max-height: 90vh;
  /*
  If you have problems with vh units 
  top: 5%;
  max-height: 90%;
  */
  border: 2px solid #000; 
  background: #0B042C;
  z-index: 667;
  padding: 2em;
  right: auto;
  overflow: auto;
}
.simple-modal-close,
.simple-animated-modal-close,
.simple-animatedtransform-modal-close {
  border-radius: 1em;
  color: transparent;
  border: 0;
  font: inherit;
  padding: .25em .5em;
  cursor: pointer;
}

.simple-modal-close:before,
.simple-animated-modal-close:before,
.simple-animatedtransform-modal-close:before {
  content: url("../img/btn-modale.png");
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.simple-modal-close:focus,
.simple-modal-close:hover,
.simple-modal-close:active {
  outline: 1px dotted #fff;  
}
.simple-modal-close:hover,
.simple-modal-close:active {
  background: #4d287f;
  
}

.simple-animated-modal {
  -webkit-animation: apparition ease .5s 1 normal ;
          animation: apparition ease .5s 1 normal ;
}
.simple-animatedtransform-modal {
  -webkit-animation: pop ease .5s 1 normal ;
          animation: pop ease .5s 1 normal ;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
	  max-height: 0;
	  width: 0;
	  left: 50%;
  }
  100% {
    opacity: 1;
	  max-height: 100%;
	  width: 50%;
	  left: 50%;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
	  max-height: 0;
	  width: 0;
	  left: 50%;
  }
  100% {
    opacity: 1;
	  max-height: 100%;
	  width: 50%;
	  left: 50%;
  }
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  -webkit-transform: scale(0);
	          transform: scale(0);
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: scale(1);
	        transform: scale(1);
	  max-height: 100%;
	  width: 50%;
	  left: 50%;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  -webkit-transform: scale(0);
	          transform: scale(0);
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: scale(1);
	        transform: scale(1);
	  max-height: 100%;
	  width: 50%;
	  left: 50%;
  }
}




/* it can be easily adapted in media-queries for tablets/mobile */

/* for this example: tablets */
@media (max-width: 55.625em) {

  .simple-modal,
  .simple-animated-modal {

    top: 5%;
    height: 90%;
    width: 90%;
  }
  
}

/* for this example: mobile */
@media (max-width: 44.375em) {

  .simple-modal,
  .simple-animated-modal {
    left: 50%;
    top: 1%;
    width: 98%;
    height: 98%;
  }

}



