{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://echelles-celestes.test",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": []
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "css/all.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/base.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/contact.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/equipe.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/header.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/inspirations.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/installation.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/jouez.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/main.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/normalize.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/partenaires.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/portraits.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/ressources.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "img/astro/astronom-light.jpg",
        "config": {
          "originalSize": 20523,
          "optimized": true
        }
      },
      {
        "file": "img/astro/astronom-light.png",
        "config": {
          "originalSize": 21546,
          "optimized": true
        }
      },
      {
        "file": "img/astro/astronom-light.svg",
        "config": {
          "originalSize": 598202,
          "optimized": true
        }
      },
      {
        "file": "img/astro/corot-satellite-sf.png",
        "config": {
          "originalSize": 221993,
          "optimized": true
        }
      },
      {
        "file": "img/astro/corot-satellite.svg",
        "config": {
          "originalSize": 288793,
          "optimized": true
        }
      },
      {
        "file": "img/astro/extra-music.jpg",
        "config": {
          "originalSize": 39385,
          "optimized": true
        }
      },
      {
        "file": "img/astro/extra-music.png",
        "config": {
          "originalSize": 47487,
          "optimized": true
        }
      },
      {
        "file": "img/astro/extra-music.svg",
        "config": {
          "originalSize": 88430,
          "optimized": true
        }
      },
      {
        "file": "img/astro/extra-tv.png",
        "config": {
          "originalSize": 17819,
          "optimized": true
        }
      },
      {
        "file": "img/astro/extra-tv.svg",
        "config": {
          "originalSize": 136813,
          "optimized": true
        }
      },
      {
        "file": "img/astro/hubble_observ-sf.png",
        "config": {
          "originalSize": 491885,
          "optimized": true
        }
      },
      {
        "file": "img/astro/lowell_obs.jpg",
        "config": {
          "originalSize": 82755,
          "optimized": true
        }
      },
      {
        "file": "img/astro/lowell_obs.png",
        "config": {
          "originalSize": 298274,
          "optimized": true
        }
      },
      {
        "file": "img/astro/lowell_observ-sf.png",
        "config": {
          "originalSize": 307987,
          "optimized": true
        }
      },
      {
        "file": "img/astro/lowell_observ-sf.svg",
        "config": {
          "originalSize": 4440252,
          "optimized": true
        }
      },
      {
        "file": "img/astro/planet-discover.png",
        "config": {
          "originalSize": 73421
        }
      },
      {
        "file": "img/astro/planets-game.jpg",
        "config": {
          "originalSize": 17867,
          "optimized": true
        }
      },
      {
        "file": "img/astro/planets-game.png",
        "config": {
          "originalSize": 12962,
          "optimized": true
        }
      },
      {
        "file": "img/astro/planets-game.svg",
        "config": {
          "originalSize": 339546,
          "optimized": true
        }
      },
      {
        "file": "img/astro/satellites.png",
        "config": {
          "originalSize": 19052,
          "optimized": true
        }
      },
      {
        "file": "img/astro/satellites.svg",
        "config": {
          "originalSize": 169821,
          "optimized": true
        }
      },
      {
        "file": "img/astro/scrollTop.png",
        "config": {
          "originalSize": 5967,
          "optimized": true
        }
      },
      {
        "file": "img/astro/scrollTop.svg",
        "config": {
          "originalSize": 37806,
          "optimized": true
        }
      },
      {
        "file": "img/btn-back.png",
        "config": {
          "originalSize": 959,
          "optimized": true
        }
      },
      {
        "file": "img/btn-modale.png",
        "config": {
          "originalSize": 2218,
          "optimized": true
        }
      },
      {
        "file": "img/cielmonetoile.jpg",
        "config": {
          "originalSize": 25889,
          "optimized": true
        }
      },
      {
        "file": "img/corot-satellite.jpg",
        "config": {
          "originalSize": 52728,
          "optimized": true
        }
      },
      {
        "file": "img/eberhard-grossgasteiger-space.jpg",
        "config": {
          "originalSize": 365141,
          "optimized": true
        }
      },
      {
        "file": "img/equipe/cecile-camille.jpeg",
        "config": {
          "originalSize": 2723206,
          "optimized": true
        }
      },
      {
        "file": "img/equipe/emerick-herve.jpeg",
        "config": {
          "originalSize": 1881476,
          "optimized": true
        }
      },
      {
        "file": "img/equipe/frederic-bruneaux.jpeg",
        "config": {
          "originalSize": 2523674,
          "optimized": true
        }
      },
      {
        "file": "img/equipe/marc-valladon.jpeg",
        "config": {
          "originalSize": 2971775,
          "optimized": true
        }
      },
      {
        "file": "img/equipe/martin-hachet.jpeg",
        "config": {
          "originalSize": 114357,
          "optimized": true
        }
      },
      {
        "file": "img/equipe/pascal-borde.jpeg",
        "config": {
          "originalSize": 2035197,
          "optimized": true
        }
      },
      {
        "file": "img/equipe/virginie.jpeg",
        "config": {
          "originalSize": 161442,
          "optimized": true
        }
      },
      {
        "file": "img/frame.png",
        "config": {
          "originalSize": 120554,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/auger.jpeg",
        "config": {
          "originalSize": 15947,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/auger_small.jpeg",
        "config": {
          "originalSize": 10281,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/brahe.jpeg",
        "config": {
          "originalSize": 58510,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/brahe_small.jpeg",
        "config": {
          "originalSize": 13174,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/bullet_gbutton_gray-29.png",
        "config": {
          "originalSize": 9373,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/clooney.jpeg",
        "config": {
          "originalSize": 26352,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/clooney_small.jpeg",
        "config": {
          "originalSize": 9531,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/copernic.jpeg",
        "config": {
          "originalSize": 28828,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/copernic_small.jpeg",
        "config": {
          "originalSize": 8020,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/galilee.jpeg",
        "config": {
          "originalSize": 35085,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/galilee_small.jpeg",
        "config": {
          "originalSize": 6731,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/ham.jpeg",
        "config": {
          "originalSize": 144525,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/ham_small.jpeg",
        "config": {
          "originalSize": 12780,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/herscher.jpeg",
        "config": {
          "originalSize": 25765,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/herscher_small.jpeg",
        "config": {
          "originalSize": 5516,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/hubble.jpeg",
        "config": {
          "originalSize": 106622,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/hubble_small.jpeg",
        "config": {
          "originalSize": 12426,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/kepler.jpeg",
        "config": {
          "originalSize": 95456,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/kepler_small.jpeg",
        "config": {
          "originalSize": 9710,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/leonov.png",
        "config": {
          "originalSize": 194245,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/leonov_small.png",
        "config": {
          "originalSize": 99791,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/lovell.jpeg",
        "config": {
          "originalSize": 54504,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/lovell_small.jpeg",
        "config": {
          "originalSize": 9074,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/lowell.jpeg",
        "config": {
          "originalSize": 44457,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/lowell_small.jpeg",
        "config": {
          "originalSize": 7048,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/michelSerres.jpg",
        "config": {
          "originalSize": 14585,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/newton.jpeg",
        "config": {
          "originalSize": 7683,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/pascal.jpeg",
        "config": {
          "originalSize": 16796,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/pascal_small.jpeg",
        "config": {
          "originalSize": 13050,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/perry.jpg",
        "config": {
          "originalSize": 15614,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/pierreLena.jpg",
        "config": {
          "originalSize": 16118,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/ptolemee.jpeg",
        "config": {
          "originalSize": 104706,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/ptolemee_small.jpeg",
        "config": {
          "originalSize": 17255,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/romer.jpeg",
        "config": {
          "originalSize": 39112,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/romer_small.jpeg",
        "config": {
          "originalSize": 7028,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/terechkova.jpeg",
        "config": {
          "originalSize": 66896,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/terechkova_small.jpeg",
        "config": {
          "originalSize": 13518,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/thorgall_small.png",
        "config": {
          "originalSize": 92778,
          "optimized": true
        }
      },
      {
        "file": "img/gallery-portrait/verne.jpeg",
        "config": {
          "originalSize": 9479,
          "optimized": true
        }
      },
      {
        "file": "img/hubble_observ.jpg",
        "config": {
          "originalSize": 59981,
          "optimized": true
        }
      },
      {
        "file": "img/img-default.png",
        "config": {
          "originalSize": 85201,
          "optimized": true
        }
      },
      {
        "file": "img/install-ech-celestes-sf-ws.png",
        "config": {
          "originalSize": 116746,
          "optimized": true
        }
      },
      {
        "file": "img/installation/045HIMALAYA.jpg",
        "config": {
          "originalSize": 54804,
          "optimized": true
        }
      },
      {
        "file": "img/installation/Brooke3.jpg",
        "config": {
          "originalSize": 1242477,
          "optimized": true
        }
      },
      {
        "file": "img/installation/Lune.jpg",
        "config": {
          "originalSize": 92319,
          "optimized": true
        }
      },
      {
        "file": "img/installation/dessin-instal.jpg",
        "config": {
          "originalSize": 283735,
          "optimized": true
        }
      },
      {
        "file": "img/installation/lagoon-nebula.png",
        "config": {
          "originalSize": 189334,
          "optimized": true
        }
      },
      {
        "file": "img/installation/meudon.png",
        "config": {
          "originalSize": 376205,
          "optimized": true
        }
      },
      {
        "file": "img/installation/observatoir_iaa.jpg",
        "config": {
          "originalSize": 953210,
          "optimized": true
        }
      },
      {
        "file": "img/installation/quote-icon-l.svg",
        "config": {
          "originalSize": 612,
          "optimized": true
        }
      },
      {
        "file": "img/installation/quote-icon.svg",
        "config": {
          "originalSize": 429
        }
      },
      {
        "file": "img/installation/thors-elmet.jpg",
        "config": {
          "originalSize": 114458,
          "optimized": true
        }
      },
      {
        "file": "img/lena.png",
        "config": {
          "originalSize": 17711,
          "optimized": true
        }
      },
      {
        "file": "img/lenadazy.png",
        "config": {
          "originalSize": 4831,
          "optimized": true
        }
      },
      {
        "file": "img/logolabogrand.jpg",
        "config": {
          "originalSize": 1271043,
          "optimized": true
        }
      },
      {
        "file": "img/moon-dark.svg",
        "config": {
          "originalSize": 400,
          "optimized": true
        }
      },
      {
        "file": "img/moon-light.svg",
        "config": {
          "originalSize": 398,
          "optimized": true
        }
      },
      {
        "file": "img/moon.svg",
        "config": {
          "originalSize": 444,
          "optimized": true
        }
      },
      {
        "file": "img/obs_contact.png",
        "config": {
          "originalSize": 501550,
          "optimized": true
        }
      },
      {
        "file": "img/partenaires/PREFETE_region_Nouvelle_Aquitaine_Couleurs.jpg",
        "config": {
          "originalSize": 1074382,
          "optimized": true
        }
      },
      {
        "file": "img/partenaires/facts_logo.png",
        "config": {
          "originalSize": 13811,
          "optimized": true
        }
      },
      {
        "file": "img/partenaires/logogrand_sansfond.png",
        "config": {
          "originalSize": 195020,
          "optimized": true
        }
      },
      {
        "file": "img/partenaires/logopetit.jpg",
        "config": {
          "originalSize": 789328,
          "optimized": true
        }
      },
      {
        "file": "img/partenaires/vignette-lab.png",
        "config": {
          "originalSize": 4716,
          "optimized": true
        }
      },
      {
        "file": "img/reportage.jpg",
        "config": {
          "originalSize": 56833,
          "optimized": true
        }
      },
      {
        "file": "img/universe.jpg",
        "config": {
          "originalSize": 147044,
          "optimized": true
        }
      },
      {
        "file": "img/wood.jpg",
        "config": {
          "originalSize": 3035974,
          "optimized": true
        }
      },
      {
        "file": "js/script.js",
        "config": {
          "tasks": {
            "concat-js": {
              "enable": true
            }
          },
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "js/theme.js",
        "config": {
          "tasks": {
            "concat-js": {
              "enable": true
            }
          },
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "js/van11y-accessible-modal-window-aria.js",
        "config": {
          "tasks": {
            "concat-js": {
              "enable": true
            }
          },
          "autoCompile": true,
          "sourceMap": true
        }
      }
    ]
  }
}
