html {
  scroll-behavior: smooth;
  background: url("/echellescelestes-web/img/casey-horner-space.jpg") no-repeat center fixed;
  background-size: cover;
  background-color: #0B042C;
}

body {
  font-family: 'Lato','Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  flex-wrap: wrap;
  word-wrap: wrap;
  text-overflow: ellipsis;
  color: #0B042C;
  position: relative;
}

.container {
  width: 80%;
  margin: auto;
}

.background {
  
}

#home,
.first-section,
.second-section,
.third-section,
.four-section,
.fifth-section,
.sixth-section,
.seven-section,
.eight-section {
  min-height: 100vh;
}

#home h1 {
font-size: 12rem;
left: 0;
position: fixed;
writing-mode: sideways-rl;
text-orientation: mixed;
}

#home h1 a:hover {
color: #5599A1;
}

h2,
.h2-subtitle,
h3,
h4 {
  text-align: center;
  margin: 5rem auto;
}

h2 {
font-size: 2.8rem;
clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
background-color: #fff;
width: max-content;
padding: 2rem 10rem;
}

h2:hover {
width: ;
}

h3 {
font-size: 2.4rem;
text-transform: uppercase;
color: #0858a3;
}

h4 {
font-size: 1.8rem;
}

h5 {
font-size: 1.6rem;
}

article {
margin: 20rem auto;
}

/***************************** Scroll ****************************/

.scrolltop-wrap {
box-sizing: border-box;
position: absolute;
top: 12rem;
right: 2rem;
bottom: 0;
pointer-events: none;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
.scrolltop-wrap #scrolltop-bg {
fill: white;
}
.scrolltop-wrap #scrolltop-arrow {
fill:  #5599A1;
}
.scrolltop-wrap a:hover #scrolltop-bg {
fill: #5599A1;
}
.scrolltop-wrap a:hover #scrolltop-arrow {
fill: white;
}
@supports (-moz-appearance: meterbar) {
.scrolltop-wrap {
  clip: rect(0, 3rem, auto, 0);
}
}
.scrolltop-wrap a {
position: fixed;
position: -webkit-sticky;
position: sticky;
top: -5rem;
width: 3rem;
height: 3rem;
margin-bottom: -5rem;
-webkit-transform: translateY(100vh);
        transform: translateY(100vh);
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
display: inline-block;
text-decoration: none;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
pointer-events: all;
outline: none;
overflow: hidden;
}
.scrolltop-wrap a svg {
display: block;
border-radius: 50%;
width: 100%;
height: 100%;
}
.scrolltop-wrap a svg path {
-webkit-transition: all 0.1s;
transition: all 0.1s;
}
.scrolltop-wrap a #scrolltop-arrow {
-webkit-transform: scale(0.66);
        transform: scale(0.66);
-webkit-transform-origin: center;
        transform-origin: center;
}



/*****************************  HEADER **************************/
.main-header {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  color: #fff;
  height: 100vh;
  position: relative;
  list-style-type: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
.main-header {
  flex-direction: column;
}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}

.main-header * {
  padding-left: 0;
  text-decoration: none;
  color: inherit;
}

.main-header details {
display: inline-block;
position: relative;
top: 75%;
left: 30%;
}

.main-header details summary {
display: inline-block;
}

.main-header img {
width: 5rem;
transition: all 1s;
margin: auto;
animation: mymove 5s infinite;
}

@keyframes mymove {
25% {transform: scale(1.4);}

50% {transform: rotate(180deg);}
}

.main-header img:hover {
transform: scale(1.4);
}

.main-header details p {
background-color: rgba(255, 255, 255, .8);
color: #0858a3;
padding: 5rem 10rem;
width: 80rem;
clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
}

/************************** Navigation *************************/

#navbar {
/* overflow: hidden; */
/* position: fixed; */
width: 15rem;
text-align: center;

position: fixed;
top: 20%;
right: 20%;
transition: all 1.3s;
}

#navbar li {
display: block;
position: relative;

background-color:rgba(11, 4, 44, .5);
padding: 1rem;
clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
}

#navbar li a {
padding: 2rem;
}

#navbar li:nth-of-type(odd) {
right: 10rem;
}

#navbar li:nth-of-type(even) {
left: 7rem;
}

#navbar li:nth-child(1) {
right: 20rem;
}

#navbar li:nth-child(4) {
left: 20rem;
}

#navbar li:nth-child(5) {
right: 15rem;
}

#navbar li:last-child {
background-color: #5599A1;
clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
display:inline-block;
margin: 2rem auto;
padding: 0 2rem;
transition: all 2s;
}

#navbar li:last-child a:hover {
background-color: #fff;
color: #0B042C;
transition: all 2s;
}

#navbar li:not(:last-child) a:hover {
text-decoration: underline;
color: #70074d;
background-color: #fff;
padding: 2rem;
clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
transition: 0.5s ease;
}

#navbar li a:active {

}

#navbar li a:visited {
background-color: #fff;
padding: 2rem;
}

#navbar a {
display: block;

color: #f2f2f2;
text-align: center;
text-decoration: none;
}

/* Création d'une classe .sticky qui appelle la fonction du changement de position du menu au scroll */
.sticky {
position: fixed;
top: 0 !important;
right: 0 !important;

background-color : rgba(11, 4, 44, .8);
margin: 0 auto;

display: flex;
justify-content: flex-end;
transition: all 1.3s;

font-size: 1.4rem;
}

.positionOff {
width: 15rem;
}

.positionOff:nth-of-type(odd) {
right: 0rem !important;
top: 0rem !important;
}

.positionOff:nth-of-type(even) {
left: 0rem !important;
top: 0rem !important;
}





/****************************** FIRST-SECTION **********************/

.first-section h3 {
background-color: rgba(255, 255, 255, .6);
width: max-content;
padding: 2rem;
position: relative;
/*  animation: title 10s infinite linear;
position: relative;
animation-name: title;
animation-duration: 5s;
animation-timing-function: linear;
animation-delay: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
width: ; */
animation: title 5s 1;
}

@keyframes title {
0% {
  transform: rotate(0deg);
  left: 0px;
}

25% {
  transform: rotate(20deg);
  left: 0px;
}

40% {
  transform: rotate(0deg);
  left: 500px;
}

55% {
  transform: rotate(0deg);
  left: 500px;
}

70% {
  transform: rotate(0deg);
  left: 500px;
  background: #0858a3;
  color: #fff;
}

100% {
  transform: rotate(-40deg);
  left: 0px;
} /* 
0%   {left:0px; top:0px;}
50%  {left:200px; top:0px;}
100% {left:0px; top:0px;} */
}

main img {
clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
object-fit: cover;
margin: auto;
}

.first-section-content-element:first-child img {
width: 80rem;
padding: 10rem;
display: block;
}

.first-section-content-element-items {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr) );
gap: 5rem;
}

.first-section-content-element:not(:first-child) img {
width: 30rem;
padding: 2rem;
}

.first-section-content-element:last-child {
background-color: rgba(255, 255, 255, .8);
padding: 2rem;
width: 80%;
margin: 5rem auto;
}

.first-section-content-element blockquote {
font-style: italic;
font-size: 1.8rem;
}

.first-section-content-element blockquote:before {
content: url("/echellescelestes-web/img/installation/quote-icon.svg");
position: relative;
display: inline-block;
width: 5rem;
align-self: center;
}

.first-section-content-element .blockquote-author {
text-align: right;
font-weight: bold;
}









/***************************** SECOND-SECTION **********************/
.second-section {
width: 80%;
}

.second-section-content-element {
margin: 2rem auto;
}

.second-section-content-element-col {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
}

.second-section-element-col-child {
background-color: rgba(255, 255, 255, .7);
padding: 5rem;
}







/* A Rechercher : Inverser le sens de l'élément avec les grid */
.second-section-content-element:nth-child(2) {
  background: red;
  order: 1;
}

.second-section-content-element-col:nth-child(2) {

}







/*************************** THIRD-SECTION ***********************/
.third-section-content-element {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr) );
}

.third-section-content-element-card-one {
max-width: 40rem;
margin: 2rem;
}

.third-section-content-element-card-one-img {
border: 5px solid #fff;
border-style: inset;
border-width: 1rem;
background-color: rgba(11, 4, 44, .6);

width: max-content;
height: max-content;
margin: auto; 
}

.third-section-content-element-card-one img {
width: 20rem;
height: 30rem;
object-fit: cover;
text-align: center;
display: table-cell;
vertical-align: middle;

/* width: 40rem; */

}

.third-section-content-element-card-one h4 {
background-color: #fff;
width: ;
height: auto;
padding: 2rem;
position: relative;

margin: auto;

clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
}

.third-section-content-element-card-one h4:before,
.third-section-content-element-card-one h4:after {
content: "";
position: absolute;
width: 2rem;
height: 2rem;
background-image: url("/echellescelestes-web/img/moon-dark.svg");
margin: .5rem;
}

.third-section-content-element-card-one h4:before {
left: 3rem;
}

.third-section-content-element-card-one h4:after {
right: 3rem;
}


/* Réglages du texte des cartes au survol - Pure CSS */

.third-section-content-element-card {
cursor: pointer;
/*  height: 300px; */
position: relative;
overflow: hidden;
/* width: 400px; */
text-align:center;
}
.third-section-content-element-card .third-section-content-element-card-hover {
background-color: rgba(11, 4, 44, .8);
position: absolute;
top: 50%;
left: 50%;
color: #fff;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
transition: all 300ms ease-out;
opacity: 0;
width: auto;
height: auto;
}
.third-section-content-element-card:hover .third-section-content-element-card-hover { opacity: 0.8; }
.third-section-content-element-card .text {
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
transition: all 300ms ease-out;
transform: translateY(30px);
-webkit-transform: translateY(30px);
}
.third-section-content-element-card .title {
text-transform: uppercase;
opacity: 0;
transition-delay: 0.2s;
transition-duration: 0.3s;
}
.third-section-content-element-card:hover .title,
.third-section-content-element-card:focus .title {
opacity: 1;
transform: translateY(0px);
-webkit-transform: translateY(0px);
}











/**************************** FOUR-SECTION **************************/
.four-section-content {

}

.four-section-content-element {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
}

.four-section-content-element option {

}












/*************************** FIFTH-SECTION *************************/








/********************** SIXTH-SECTION **********************/
.sixth-section-content-element {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}








/********************** SEVEN-SECTION **********************/










/********************** EIGHT-SECTION **********************/










/********************** FOOTER **********************/








