html {
    scroll-behavior: smooth;
    background: url("/img/star-sky.jpg") no-repeat center fixed;
    background-size: cover;
}

body {
    font-family: 'Lato','Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    flex-wrap: wrap;
    word-wrap: wrap;
    text-overflow: ellipsis;
    color: #0B042C;
    position: relative;
}

.container {
    width: 80%;
    margin: auto;
}

.background {
    
}

#home,
.first-section,
.second-section,
.third-section,
.four-section,
.fifth-section,
.sixth-section,
.seven-section,
.eight-section
 {
    min-height: 100vh;
}

#home h1 {
   font-size: 10rem;
}

#home h1 a:hover,
#navbar a:hover {
  color: #5599A1;
}

h2,
.h2-subtitle,
h3,
h4 {
    text-align: center;
    margin: 5rem auto;
}

h2 {
  font-size: 2.8rem;
  clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
  background-color: #fff;
  width: max-content;
  padding: 2rem 10rem;
}

h2:hover {
  width: ;
}

h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #42B0CB;
}

h4 {
 font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

article {
  margin: 10rem auto;
}

/***************************** Scroll ****************************/

.scrolltop-wrap {
  box-sizing: border-box;
  position: absolute;
  top: 12rem;
  right: 2rem;
  bottom: 0;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.scrolltop-wrap #scrolltop-bg {
  fill: white;
}
.scrolltop-wrap #scrolltop-arrow {
  fill:  #5599A1;
}
.scrolltop-wrap a:hover #scrolltop-bg {
  fill: #5599A1;
}
.scrolltop-wrap a:hover #scrolltop-arrow {
  fill: white;
}
@supports (-moz-appearance: meterbar) {
  .scrolltop-wrap {
    clip: rect(0, 3rem, auto, 0);
  }
}
.scrolltop-wrap a {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: -5rem;
  width: 3rem;
  height: 3rem;
  margin-bottom: -5rem;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: inline-block;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: all;
  outline: none;
  overflow: hidden;
}
.scrolltop-wrap a svg {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.scrolltop-wrap a svg path {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.scrolltop-wrap a #scrolltop-arrow {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
  -webkit-transform-origin: center;
          transform-origin: center;
}



/*****************************  HEADER **************************/
.main-header {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    color: #fff;
    height: 100vh;
    position: relative;
    list-style-type: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .main-header {
    flex-direction: column;
  }
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

.main-header * {
    padding-left: 0;
    text-decoration: none;
    color: inherit;
}

/************************** Navigation *************************/

#navbar {
  /* overflow: hidden; */
  /* position: fixed; */
  width: 25rem;
  text-align: center;

  position: fixed;
  top: 30%;
  right: 20%;
}

#navbar li {
  display: block;
  position: relative;
  margin: 3rem;
}

#navbar li:nth-of-type(odd) {
  right: 10rem;
}

#navbar li:nth-of-type(even) {
  left: 7rem;
}

#navbar li:nth-child(1) {
  right: 20rem;
}

#navbar li:nth-child(4) {
  left: 20rem;
}

#navbar li:nth-child(5) {
  right: 15rem;
}

#navbar li:last-child {
  background-color: #5599A1;
  clip-path: polygon(10% 15%, 15% 15%, 15% 5%, 85% 5%, 85% 15%, 90% 15%, 90% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 10% 85%);
  display:inline-block;
  margin: 2srem auto;
  padding: 1.5rem 2.8rem;
}

#navbar li:hover {
  text-decoration: underline;
  color: #5599A1;
}

#navbar li a:active {
  color: #70074d;
}

#navbar li a:visited {
  background-color: #fff;
  padding: 2rem;
  color: #03a8d1;
}

#navbar a {
  display: block;

  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

/* Création d'une classe .sticky qui appelle la fonction du changement de position du menu au scroll */
.sticky {
  position: fixed;
  top: 0 !important;
  right: 0 !important;

  background-color : #0B042C;
  margin: auto;

  display: flex;
  justify-content: flex-end;
}

.positionOff {
  width: 20rem;
}

.positionOff:nth-of-type(odd) {
  right: 0rem !important;
  top: 0rem !important;
}

.positionOff:nth-of-type(even) {
  left: 0rem !important;
  top: 0rem !important;
}





/****************************** FIRST-SECTION **********************/










/***************************** SECOND-SECTION **********************/
.second-section-content-element-col {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
}







/* A Rechercher : Inverser le sens de l'élément avec les grid */
.second-section-content-element:nth-child(2) {
    background: red;
    order: 1;
}

.second-section-content-element-col:nth-child(2) {
  
}







/*************************** THIRD-SECTION ***********************/
.third-section-content-element {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}










/**************************** FOUR-SECTION **************************/
.four-section-content-element {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}










/*************************** FIFTH-SECTION *************************/








/********************** SIXTH-SECTION **********************/
.sixth-section-content-element {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}








/********************** SEVEN-SECTION **********************/










/********************** EIGHT-SECTION **********************/










/********************** FOOTER **********************/








